{% extends "blog/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mb-3">
    <div class="card border-dark">
        <div class="card-header">{{ object.title | capfirst }}</div>

        {% if object.phase_0 %}
        <div class="card-body">
            <h2 class="card-title">Order Details</h2>
            <pre class="card-text" style="border-radius: 10px; padding: 10px; background-color: rgba(128, 128, 128, 0.096);">{{ object.description }}</pre>
            <p class="text-muted">Last updated {{object.description_update_date | date:"F d, Y"}}</p>
        </div>
        {% endif %}
        
        
        {% if object.phase_1 %}
        <div class="card-body">
            {% if object.rejected %}
                <h2 class="card-title">Commission was rejected</h2>
            {% else %}
                <h2 class="card-title">Latest Preview</h2>
                <img class="preview-img mb-3" src="{{ object.image.url }}" style="max-width: 100%; max-height: 500px;">
                <p class="text-muted">Last updated {{object.image_update_date | date:"F d, Y"}}</p>
            {% endif %}
        </div>
        {% endif %}

        {% if object.phase_2 %}
        <div class="card-body">
                <h2 class="card-title">This custom commission has been completed successfully.</h2>
                <h2 class="card-title">Please check your purchases page for final image.</h2>
        </div>
        {% endif %}
        
        {% if form and not object.rejected %}
        <div class="card-body">
            <h2 class="card-title">Actions</h2>
            <p class="card-text">
                <div class="content-section">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {% if action_name %}
                            <legend class="border-bottom mb-4">{{ action_name }}</legend>
                            {% endif %}
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </p>
        </div>
        {% endif %}
        
    </div>
</div>
{% endblock content %}