{% extends "blog/base.html" %}
{% block content %}
<div class="container">
  <div class="card mt-3 mb-3 pt-3 pb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="text-center">
          <img src="{{ object.preview_image.url }}" class="rounded">
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ object.title }}</h5>
          {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
          {% endif %}
          <a class="mr-2" href="{% url 'user-profile' object.author.id %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>

          <p class="card-text">{{ object.description }}</p>

          <button type="button" class="btn btn-success">Buy &#8377; {{ object.price }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}